<!DOCTYPE html>
<html>
  <head>
    <title>Pinify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    

    <script type="text/javascript">
    window.defaultPic = "<%= image_url('default-profile-pic.png') %>"
    window.cat1 = "<%= image_url('cat1.png') %>"
    window.cat2 = "<%= image_url('cat2.png') %>"
    window.cat3 = "<%= image_url('cat3.png') %>"
    window.cat4 = "<%= image_url('cat4.png') %>"

  
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
